/*--------------------------------------------------------------
# Font Family
--------------------------------------------------------------*/

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/*--------------------------------------------------------------
# Reset
--------------------------------------------------------------*/

body {
    background: url(../Images/fond_accueil_5.jpg) no-repeat fixed center/cover;
}

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}


/*--------------------------------------------------------------
# Section
--------------------------------------------------------------*/

.logiciels {
    min-height: 100vh;
    text-align: center;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logiciels .container {
    width: 991px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.logiciels .container h3 {
    margin: 50px 0 0;
    color: white;
    font-size: 26px;
}

.logiciels .container ul.menu {
    margin: 20px 0;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}

.logiciels .container ul.menu li {
    margin: 20px;
    color: white;
    font-size: 20px;
    padding: 30px 15px 10px;
    cursor: pointer;
    display: inline;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.logiciels .container .menu .tab.active {
    border-bottom: 2px solid rgb(14, 26, 187);
    border-radius: 10px;
}

[data-tab-content] {
    display: none;
}

.active[data-tab-content] {
    display: block;
}

.logiciels .container .container-box .box-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.logiciels .container .container-box .imgBx {
    width: 800px;
    height: 450px;
    margin-top: 50px;
}

.logiciels .container .container-box .imgBx img {
    width: 60%;
    height: 100%;
}

.logiciels .container .container-box p {
    color: rgba(255, 255, 255, 0.8);
    margin: 25px 10px;
    text-align: justify;
    font-size: 18px;
}

.logiciels .container .container-box a.btn {
    color: white;
    padding: 10px 15px;
    margin: 35px 0;
    border-radius: 5px;
    border: 2px solid white;
    transition: 0.3s;
}

.logiciels .container .container-box a.btn:hover {
    background: black;
    color: white;
}

@media (max-width: 1013px) {
    .logiciels .container {
        width: 100%;
    }
    .logiciels .container .container-box .imgBx {
        width: 100%;
    }
}

@media (max-width: 673px) {
    .logiciels .container .menu li {
        margin-top: 50px;
    }
}

@media (max-width: 300px) {
    .logiciels .container ul.menu {
        margin: 20px 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    .logiciels .container ul.menu li {
        margin: 20px 0;
        color: white;
        font-size: 20px;
        padding: 30px 0 10px;
        cursor: pointer;
        display: block;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        width: 200px;
    }
}